.hero {
  height: auto;

  padding: 20px;

  background-color: #1b2127;

  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;
}

.wrapper {
  padding: 20px 0px 10px 40px;
  flex-wrap: nowrap;
}

.hero-image {
  object-fit: cover;

  width: 50%;
}

.hero h1 {
  font-size: 40px;
  width: 50%;
}
